/* Message view */
.ii, .Ak {
  font: 10pt Consolas !important;
}

/* Quoted Text */
.im, .gmail_quote {
  color: #555 !important;
}

/* Compose window */
.LW-avf {
  font: normal small Consolas !important;
}
